@import "test";
$color-primary: orange;
$color-secondary: gray;
$color-tertiary: royalblue;

$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;

.nav {
  background-color: lighten($color-primary, 20%);

  ul li {
    list-style: none;
  }

  a {
    text-decoration: none;
    font-size: $font-sm;
    color: darken($color-secondary, 20%);

    &:hover {
      color: $color-tertiary;
    }
  }
}

%heading {
  color: $color-primary;
  font-size: $font-lg;
  background-color: transparentize($color-secondary, 0.6);
  text-align: center;
}

h1 {
  @extend %heading;

  &:hover {
    background-color: mix(green, blue, 45%);
  }
}

.footer h3 {
  @extend h1;
}
